# OS
.DS_Store

# Logs
*.log

# Env files
.env
.env.*
!.env.example

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Node
node_modules/

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/build/
apps/mobile/web-build/

# Nest
apps/api/dist/